<style>
    .row:nth-child(odd) .col {
       background-color: #f1f1f1;
    }
    .row:nth-child(even) .col {
       background-color: white;
    }
    .header .col {
      background-color: lightgrey !important;
    }
    .col {
      border: solid 1px grey;
      border-bottom-style: none;
      border-right-style: none;
    }
    .col:last-child {
      border-right: solid 1px grey;
    }
    .row:last-child .col {
      border-bottom: solid 1px grey;
    }
</style>

<ion-view view-title="Check In - Camper Selected">
  <ion-content class="padding">
  	<div class="row">
     	<div class="col col-75">
            <ion-item class="item col selected_camper">
            	<h3 class="title">General Camper Info:</h3>
                <div class="camper_data">
               	 	<p><strong>Name:</strong> {{camper.first_name}} {{camper.last_name}}</p>
                    <p><strong>Date of Birth:</strong> {{camper.dob}}</p>
                    <p><strong>Gender:</strong> {{camper.gender}}</p>
                    <p><strong>I have checked into:</strong> {{camper.checked_in}} out of {{total_check_ins}} stations</p>
                </div>
                <div ng-show="dexcom" class="camper_data">
                    <h3 class="title">Dexcom Readings</h3>
                    <div class="row header">
                        <div class="col">Time</div>
                        <div class="col">Blood Sugar ({{dexcom.data.unit}})</div>
                        <div class="col">Trend</div>
                    </div>
                    <div class="row" ng-repeat="egvsItem in dexcom.data.egvs">
                        <div class="col">{{egvsItem.displayTimeReadable}}</div>
                        <div class="col">{{egvsItem.value}}</div>
                        <div class="col">{{egvsItem.trend}}</div>
                    </div>
                </div>
                <ion-item class="button button-full button-stable item-icon-left" style="background-color:{{cabinColor}}; color:#fff;">
                	<i class="icon ion-ios-home"></i> {{camper.cabin.name}}
                </ion-item>
                
            </ion-item>
            <ion-item class="item col selected_camper" ng-if="parentGuardianForm">
                <h3 class="title">Parent and Guardian Info:</h3>
                <div class="camper_data">
                	<ion-item ng-repeat="field in parentGuardianForm">
                    	<strong>{{field.label}}:</strong> {{field.value}}
                    </ion-item>
                </div>
                
            </ion-item>
            <ion-item class="item col selected_camper" ng-if="emergancyContactForm">
                <h3 class="title">Emergancy Contact Info:</h3>
                <div class="camper_data">
                	<ion-item ng-repeat="field in emergancyContactForm">
                    	<strong>{{field.label}}:</strong> {{field.value}}
                    </ion-item>
                </div>
                
            </ion-item>
        </div>
        
        <div class="col col-25">
        	<ion-item class="row">
                <ion-item class="item col camper_actions">
                    <div class="image" ng-if="camper.thumbnail">
                        <img id="hasImage" ng-src="{{camper.thumbnail}}">
                    </div>
                    <div class="image no-image" ng-if="!camper.thumbnail">
                        <img id="noImage" ng-src="img/noimg.png">
                    </div>
                    <ion-item ng-click="takePicture()" ng-href="#" class="button button-full button-positive item-icon-left">
                        <i class="icon ion-camera"></i> {{camper.thumbnail ? 'Retake Picture' : 'Take Picture'}}
                    </ion-item>
                    <ion-item class="button button-full button-balanced item-icon-left" ng-if="{{checked_in === false}}" ng-href="#/checkin/{{camper_id}}">
                        <i class="icon ion-android-checkbox-outline"></i> Check In
                    </ion-item>
                    <ion-item class="button button-full button-calm item-icon-left" ng-href="#/logsheets/{{camper_id}}">
                        <i class="icon ion-pizza"></i> Log Sheets
                    </ion-item>
                    <ion-item class="button button-full button-energized item-icon-left" ng-href="#/checkout/{{camper_id}}">
                        <i class="icon ion-android-checkbox"></i> Check Out
                    </ion-item>
                    
                    <ion-item ng-click="callDexcomLogin()" ng-href="#" class="button button-full button-balanced item-icon-left">
                        <i class="ion-log-in icon"></i> Dexcom Login
                    </ion-item>
                    
                </ion-item>
            </ion-item>
        </div>
     </div>
  </ion-content>
</ion-view>
