<ion-view view-title="Add a Log Note">
   	<div class="bar bar-header bar-assertive">
        <h1 class="title">Log Sheet - Add a Note - {{values.camper_name}}</h1>
    </div>
 <ion-content class="lognotes" ng-controller="logNote">
    <form name="logNote" class="checkin_form" id="form_{{form_id}}" data-id="{{form_id}}" ng-submit="addNote(logNote)">
 	 <div class="row">
        <label class="col col-100 item item-input item-stacked-label">
            <span class="input-label">Add a Note:</span>
            <textarea class="note-textarea" type="text" ng-model="noteData.form_values.note" placeholder="Your note will be automatically tied to your account..."></textarea>
        </label>
     </div>
     <div class="row">
        <ion-item class="button-bar">
            <button class="button button-block button-assertive icon-left" type="reset">
                <i class="icon ion-refresh"></i> Reset
            </button>
            <button class="button button-block button-positive icon-left" type="submit">
                <i class="icon ion-ios-plus"></i> Save Form
            </button>
        </ion-item>
     </div>
    <div class="row">
        <button class="button button-full button-dark icon-left" ng-click="closePopover()" type="button">
            <i class="icon ion-close-circled"></i> Cancel Note
        </button>
    </div>

    </form>
 </ion-content>
</ion-view>