<ion-view view-title="Login">
     <ion-header-bar align-title="center" class="bar-balanced">       
              <h1 class="title">Access is Required for CampViews</h1>
     </ion-header-bar>
  <ion-content class="padding col col-offset-25 col-50">
  	<div class="logo">
    	<div class="logo-text">C<span>amp</span> V<span>iews</span></div>
    </div>
    <div class="list list-inset" style="text-align:center">
    	<h2 class="title">Please Login</h2>
          <form novalidate class="login-form">
          <div class="row">
          	<div class="input-row col col-50">
                <input type="text" id="user_name" ng-model="user.name" placeholder="username" />
            </div>
          	<div class="input-row col col-50">
                <input type="password" id="password" ng-model="user.password" placeholder="password" />
            </div>
          </div>
          <div class="row">
                <div class="input-row col col-50">
                    <input type="reset" class="button button-small button-full button-assertive" value="Reset" />
                </div>
                <div class="input-row col col-100">
                    <input type="submit" class="button button-small button-full button-positive submit-button" ng-click="login(user)" value="Login!" /> 
                </div>
          </div>
          </form>
    </div>
  </ion-content>
</ion-view>
