<ion-view view-title="Log Sheets - {{global.camper.first_name}} {{global.camper.last_name}}">
  <ion-content class="padding">
  	<div class="row">
        <!--div class="bar bar-positive col checkin_title" style="position:relative;">
            <h1 class="title sub_title">{{global.camper.first_name}} {{global.camper.last_name}} - {{logForm.name}}</h1>
        </div>
        <!--div class="col-20 col">
        	<button class="button button-stable button-full" ng-click="filterCurrent()" toggle-class="button-calm">
            	Current Time
            </button>
        </div-->
    </div>
    Dexcom Reading {{}}
    <div class="row"> 
    	<div class="col tod-container flex-container">
            <div class="row">
            	<div class="col-10 col">&nbsp;</div>
                <div ng-repeat="option in timeOfDay.options" class="col" data-tod="{{option.value}}">
              		<div ng-init="setIntervalScope($index)" class="heading item item-divider">{{ option.label }}<br /><center>{{option.value}}</center></div>
                    <ion-list class="list" ng-controller="logRepeat" ng-repeat="day in getIndex(option.days,$index)" > 
                        
                        
                        <ion-item ng-show="{{cur_i==0}}" class="col item item-dark day-title-container">
                            <span class="day-title">{{day.title ? day.title : day.day}} </span>
                        </ion-item>
                        
                    	<ion-item ng-if="day.user_values" id="user_item_{{cur_i}}_{{$index}}" toggle-class="expand" class="day-user-toggle {{ day.user_values ? 'item-balanced' : '' }} {{ expand ? 'expand' : '' }} item item-text-wrap">
                        	<div class="day-user-value row">
                            	<strong>Log made on <i>{{day.title ? day.title : day.day}}</i> for <i>{{ option.label }}</i></strong>
                            </div>
                        	<div class="day-user-value row" ng-repeat="user_value in day.user_values" ng-if="user_value.field_id !== '_user'">
                            	<div class="col col-50">{{user_value.label}}</div><div class="col col-50"><img ng-src="{{user_value.label === 'Signature' ? user_value.value : ''}}" ng-if="user_value.label == 'Signature'" /><span ng-if="user_value.label !== 'Signature'">{{user_value.value}}</span></div>
                            </div>
                        	<button id="edit_button_{{cur_i}}_{{$index}}" class="edit-log-button button button-positive col col-100 ion-arrow-up-c" ng-click="editLogButton('/logsheets/logform/'+camper_id+'/'+logForm.id+'/'+option.value+'/'+day.date,day.user_values)" >Edit Log</button>
                        </ion-item>
                        
                        
                        <ion-item ng-if="!day.user_values" href="#/logsheets/logform/{{camper_id}}/{{logForm.id}}/{{option.value}}/{{day.date}}">
                            <span class="day-value no-value">Tap to add</span>
                        </ion-item>
                        
                        
                    </ion-list>
                    </div>
                </div>
            </div>
             
        </div>
    </div>
    
    <div class="row">
    	<div class="col tod-notes flex-container">
        	<div class="bar bar-positive" style="position:relative;"><h2 class="title icon-left icon-right"><i class="ion-arrow-down-a icon"></i> Log Sheet Notes <i class="ion-arrow-down-a icon"></i></h2></div>
            <p><small>These are all time logged and the system will log who posted the note</small></p>
            <ion-item class="note-entry">
                 <button id="" class="add-log-note button button-positive col col-100 icon-left" ng-click="openPopover(body)" ><i class="ion-chatbox-working icon"></i> Add a New Note</button>
            </ion-item>
            <ion-list class="notes-list {{ camper_notes ? 'has_notes' : 'no-notes' }}" >
            	<ion-item class="card col wrap" ng-repeat="note in camper_notes"  >
                	<div class="note-author">Note added by <b>{{note.username}}</b> on {{note.timestamp}}</div>
                	<div class="note" ng-bind-html="processNote(note.note)" style="white-space: normal !important;"">{{note.note}}</div>
                </ion-item>
            </ion-list>
        </div>
    </div>
     
  </ion-content>
</ion-view>
