<ion-view view-title="Log Sheets - {{global.camper.first_name}} {{global.camper.last_name}}">
  <ion-content class="padding">
  	<div class="row">
        <div class="col checkin_title">
            <h2 class="sub_title">{{global.camper.first_name}} {{global.camper.last_name}} - {{logForm.name}}</h2>
        </div>
        <!--div class="col-20 col">
        	<button class="button button-stable button-full" ng-click="filterCurrent()" toggle-class="button-calm">
            	Current Time
            </button>
        </div-->
    </div>
    <div class="row"> 
    	<div class="col tod-container flex-container">
            <div class="row">
            	<div class="col-10 col">&nbsp;</div>
                <div ng-repeat="option in timeOfDay.options" class="col" data-tod="{{option.value}}">
              		<div ng-init="setIntervalScope($index)" class="heading item item-divider">{{ option.label }}<br /><center>{{option.value}}</center></div>
                    <ion-list class="list" ng-controller="logRepeat" ng-repeat="day in getIndex(option.days,$index)" > 
                        <ion-item ng-show="{{cur_i==0}}" class="col item item-dark day-title-container">
                            <span class="day-title">{{day.title ? day.title : day.day}} </span>
                        </ion-item>
                    	<ion-item ng-show="day.user_values" id="user_item_{{cur_i}}_{{$index}}" toggle-class="expand" class="day-user-toggle {{ day.user_values ? 'item-balanced' : '' }} {{ expand ? 'expand' : '' }} item item-text-wrap">
                        	<div class="day-user-value">
                            	<strong>Log made on <i>{{day.title ? day.title : day.day}}</i> for <i>{{ option.label }}</i></strong>
                            </div>
                        	<div class="day-user-value" ng-repeat="user_value in day.user_values" ng-show="user_value.field_id !== '_user'">
                            	<div class="col col-50"><strong>{{user_value.label}}</strong></div><div class="col col-50"><img ng-src="{{user_value.label === 'Signature' ? user_value.value : ''}}" ng-show="user_value.label == 'Signature'" /><span ng-show="user_value.label !== 'Signature'">{{user_value.value}}</span></div>
                            </div>
                        	<button id="edit_button_{{cur_i}}_{{$index}}" class="edit-log-button button button-positive col col-100 ion-arrow-up-c" ng-click="editLogButton('/logsheets/logform/'+camper_id+'/'+logForm.id+'/'+option.value+'/'+day.date,day.user_values)" >Edit Log</button>
                        </ion-item>
                        <ion-item ng-show="!day.user_values" href="#/logsheets/logform/{{camper_id}}/{{logForm.id}}/{{option.value}}/{{day.date}}">
                            <span class="day-value no-value">Tap to add</span>
                        </ion-item>
                    </ion-list>
                    </div>
                </div>
            </div>
             
        </div>
    </div>
    
    <div class="row">
    	<div class="col tod-notes flex-container">
        	<h2 class="title">Log Sheet Notes:</h2>
            <p><small>These are all time logged and the system will log who posted the note</small></p>
            <ion-list class="notes-list {{ camper_notes ? 'has_notes' : 'no-notes' }}" ng-repeat="note in camper_notes">
            	<ion-item>
                
                </ion-item>
            </ion-list>
            <ion-item class="note-entry">
                 <button id="" class="add-log-note button button-positive col col-100 ion-arrow-up-c" ng-click="openPopover($event)" >Add a New Note</button>
            </ion-item>
        </div>
    </div>
     
  </ion-content>
</ion-view>
