<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.campviewsv3951987" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>CampViews - NDA</name>
  <description>
        The app built for the Nevada Diabetes Association. This app allows for the NDA to create and run camps with campers. They can check in, create log forms and check out the campers dynamically across all iPads. This build is built on Ionic.
  </description>
  <author email="mcduffs.crapfling@gmail.com" href="http://nda.campviews.com">
      Christopher mcDuffs Crevling
  </author>
  <content src="index.html"/>
  <access origin="*" subdomains="true"/>
  <access origin="http://nda.campviews.com/"/>
  <access origin="https://nda.campviews.com/"/>
  <preference name='phonegap-version' value='cli-5.1.1' />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="orientation" value="landscape"/>
  <plugin name="cordova-plugin-camera" spec="~2.4.1" />
  <!-- <gap:plugin name="com.logilite.vision.camera" version="0.2.11" /> -->
    <preference name="ios-statusbarstyle" value="black-opaque" />

    <preference name="show-splash-screen-spinner" value="false" />

    <preference name="auto-hide-splash-screen" value="false" />

    <icon src="res/icon/ios_72.png" gap:platform="ios" width="72" height="72" />

    <icon src="res/icon/ios_144.png" gap:platform="ios" width="144" height="144" />

    <gap:splash src="res/screen/ipad_landscape.png" gap:platform="ios" width="1024" height="768" />

    <gap:splash src="res/screen/ipad_retina_landscape.png" gap:platform="ios" width="2048" height="1496" />  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>