<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.campviewsv3951987" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>CampViews Version 3</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="mcduffs.crapfling@gmail.com" href="http://nda.campviews.com">
      Christopher mcDuffs Crevling
    </author>
  <content src="index.html"/>
  <access origin="*" subdomains="true"/>
  <access origin="http://nda.campviews.com/"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="orientation" value="landscape"/>
  <gap:plugin name="com.logilite.vision.camera" version="0.2.11" />
    <preference name="ios-statusbarstyle" value="black-opaque" />

    <preference name="show-splash-screen-spinner" value="false" />

    <preference name="auto-hide-splash-screen" value="false" />

    <icon src="res/icon/ios_72.png" gap:platform="ios" width="72" height="72" />

    <icon src="res/icon/ios_144.png" gap:platform="ios" width="144" height="144" />

    <gap:splash src="res/screen/ipad_landscape.png" gap:platform="ios" width="1024" height="768" />

    <gap:splash src="res/screen/ipad_retina_landscape.png" gap:platform="ios" width="2048" height="1496" />  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>